body {
    font-family: 'Open Sans',  sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.menu-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-principal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 20px;
    font-size: 16px;
}

.menu-principal li {
    margin-right: 20px;
}

.menu-principal a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
    font-weight: bold;
}

.menu-principal a:hover {
    color: #ccc;
}

#m-lado-esquerdo {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#m-lado-esquerdo li {
    margin-right: 20px;
}

#m-lado-esquerdo a {
    color: #fff;
    text-decoration: none;
}

#m-lado-esquerdo a:hover {
    color: #ccc;
}

#m-lado-direito {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#m-lado-direito li {
    margin-left: 10px;
}

#m-lado-direito a {
    color: #fff;
    text-decoration: none;
}

#m-lado-direito a:hover {
    color: #ccc;
}

.fa-brands, .fa-solid{
    font-size: 20px;
    margin-right: 10px;
}

#plano-de-fundo-container {
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nome-container {
    text-align: center;
}

.nome {
    font-size: 36px;
    font-family: "Jost", sans-serif;
}

.sobrenome {
    font-family: "Bungee Hairline", sans-serif;
    font-weight: bold;
}

.profissao {
    font-family: "Katibeh", serif;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.redes-sociais-main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#link-redes-sociais-main li {
    display: inline-block;
    margin-right: 10px;
}

#link-redes-sociais-main a {
    color: #333;
    text-decoration: none;
}
#link-redes-sociais-main a:hover {
    color: #666;
}

.fa-linkedin-in, .fa-github, .fa-instagram {
    font-size: 24px;
}