*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans',  sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #4d4a4a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) ;
    z-index: 1;
    position: relative;
}

.menu-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-principal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    font-size: 16px;
}

.menu-principal li {
    margin-right: 20px;
}

.menu-principal a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
    font-weight: bold;
}

.menu-principal a:hover {
    color: #ccc;
}

#m-lado-esquerdo {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#m-lado-esquerdo li {
    margin-right: 20px;
}

#m-lado-esquerdo a {
    color: #fff;
    text-decoration: none;
}

#m-lado-esquerdo a:hover {
    color: #ccc;
}

#m-lado-direito {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#m-lado-direito li {
    margin-left: 10px;
}

#m-lado-direito a {
    color: #fff;
    text-decoration: none;
}

#m-lado-direito a:hover {
    color: #ccc;
}

.fa-brands, .fa-solid{
    font-size: 20px;
    margin-right: 10px;
}

